<div class="wrapper">
  <header class="header">
    <h1 class="header-logo">見積アプリ</h1>
    <div class='nav'>
      <ul class="right-header">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "user-name" %></li>
        <li><%= link_to 'ログアウト',destroy_user_session_path, data: { turbo_method: :delete }, class: "logout" %></li>
      <% else %>  
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
  </header>

  <div class="main">
  </div>

  <div class="title-contents">
    <h2 class='title'>ALL TITLES</h2>
    <ul class="title=lists">
    </ul>
  </div>

</div>